/* ----------------------------------------------
   custom fonts 
------------------------------------------------ */
@font-face {
    font-family: 'tenderness';
    src: url('../font/Tenderness-webfont.eot');
    src: url('../font/Tenderness-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Tenderness-webfont.woff') format('woff'),
         url('../font/Tenderness-webfont.ttf') format('truetype'),
         url('../font/Tenderness-webfont.svg#tendernessregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ----------------------------------------------
   main
------------------------------------------------ */
body {
  background: #0373a3;
  color: #999;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 1.5em;
}
.container-fluid {
  padding: 0px;
}
.container-inner {
  background: #fff;
  padding: 0px 0px 30px 0px;
}
label {
  font-family: tenderness, Helvetica, Arial; 
}
a {
  color: #0373a3;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-variant: small-caps;
  font-family: tenderness, Arial, sans-serif;
  text-align: center;
  padding: 20px 0;
  margin: 0px 0px 20px 0px;
  background: rgba(0, 0, 0, 0) url("../img/hbg.png") no-repeat scroll center bottom;
  color: #666;
}
h2, h3, h4 {
  font-variant: small-caps;
  font-family: tenderness, Arial, sans-serif;
  color: #666;
}
hr {
  border-bottom: 1px solid #0373a3;
}
.btn {
  font-variant: small-caps;
  font-family: tenderness, Arial, sans-serif;
}
.btn-primary {
  background-color: #0373a3;
}
.btn-right {
  width: 200px;
  padding: 3px 10px;
  background: #dfdfdf none repeat scroll 0 0;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  color: #0373a3;
  font-size: 1.6em;
}
.radio, .checkbox {
  margin-top: 0px;
}
.radio label,
.checkbox label{
  font-family: Arial, sans-serif, Helvetica;
  padding-right: 10px;
  
}
.error-message {
  color: #a94442;
  font-size: 0.8em;
}
section {
  margin: 0px 0 30px;
}
section p {
  width: 80%;
  margin: 10px auto 30px;
}

.ajax-loader {
  height: 32px;
  width: 100%;
  background-image: url('../img/ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
}

.center-text {
  width: 100%;
  text-align: center;
}

.modal-header .close {
  margin-top: -40px;
}


/* ----------------------------------------------
   header
------------------------------------------------ */
nav.navbar {
  background-color: #0373a3;
  color: #fff;
  font-size: 1.4em;
  font-variant: small-caps;
  font-family: tenderness, arial, sans-serif;
  width: 100%;
  border: none;
  margin: 0px;
  padding-right: 20px;
}
nav.navbar .navbar-brand {
  padding-top: 18px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: 20px 7px;
}
nav.navbar .navbar-brand span {
  display: inline-block;
  margin-left: 40px;
  font-size: 1.8em;
  color: #fff;
}
nav.navbar .navbar-nav li.current {
  color: #333;
}
nav.navbar .navbar-nav li a {
  color: #fff;
}
nav.navbar .navbar-nav li a:focus,
nav.navbar .navbar-nav li a:hover {
  color: #666;
  background-color: #479DC1;
}
nav.navbar .navbar-nav > .open > a,
nav.navbar .navbar-nav > .open > a:focus,
nav.navbar .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #479DC1;
    color: #666;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}
nav.navbar .dropdown-menu {
    background-color: #479DC1;
    color: #666;
    border: 1px solid #479DC1;
}

header a {
  color: #fff;
}
header a:hover {
  color: #fff;
}
.affix {
  top: 0px;
}

.flash {
  padding-left: 15px;
  padding-right: 15px;
}


/* ----------------------------------------------
   footer
------------------------------------------------ */
footer {
  background-color: #0373a3;
  text-align: center;
  padding: 20px 0;
  color: #fff;
}
footer a {
  color: #fff;
}

/* ----------------------------------------------
   tooltips
------------------------------------------------ */
.tooltip.top .tooltip-arrow {
  border-top-color: #0373a3;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #0373a3;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #0373a3;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #0373a3;
}
.tooltip-inner {
  background-color: #0373a3;
  color: #fff;
  padding: 8px;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 1.1em;
}