/* ----------------------------------------------
   home
------------------------------------------------ */
#home-hero {
  height: 500px;
  width: 100%;
  margin: 0;
  position: relative;
  background: #fff url("../img/people-on-beach.png") no-repeat right top;
  color: #fff;
  text-align: center;
}
#home-hero .camera::before {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border-radius: 500px;
    bottom: 20px;
    content: "";
    left: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
}
#home-hero .camera::after {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 500px;
    bottom: 1px;
    content: "";
    left: 1px;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 2;
}
#home-hero .camera {
    height: 400px;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    padding: 80px;
    position: absolute;
    top: 50%;
    width: 400px;
}
#home-hero .camera-inner {
  z-index: 3;
}
#home-hero .camera h2 {
  font-size: 5em;
  line-height: 0.7em;
  color: #fff;
}
#home-hero .camera h3 {
  font-size: 2.5em;
  color: #fff;
}
#home-hero .camera p {
  font-size: 1.2em;
  letter-spacing: 1px;
  color: #fff;
}
#home-hero .camera-overlay {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#home-hero button {
  z-index: 999;
}

section.contacts {
  background-color: #1985b2;
  background-image: url("../img/bg_2.jpg");
  background-position: center -350px;
  padding: 50px 0;
  text-align: center;
  margin-bottom: 0px;
}
section.contacts div.box {
  display: inline-block;
  min-width: 170px;
  width: 18%;
  height: 200px;
  margin: 20px 15px;
}
section.contacts div.box a {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
}
section.contacts a:hover {
  background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
}