.profile>.row {
  margin-right: 0px;
}

.profile-nav ul {
  margin-left: 15px;
  font-variant: small-caps;
  font-family: tenderness, arial, sans-serif;
  color: #0373a3;
}
.profile-nav ul li {
  margin-top: 0px;
}
.profile-nav ul li.active a,
.profile-nav ul li.active a:hover {
  background-color: #0373a3;
  border: 1px solid #0373a3;
  border-radius: 5px;
}
.profile-nav ul li a:hover {
  background-color: #ececec;
}

.profile-images .hero-image img {
  margin-left: 30px;
  margin-right: 15px;
  max-width: 90%;
  border: 1px solid #bbb;
  border-radius: 25px;
}
.profile-images .more-images {
  margin-left: 30px;
  margin-right: 15px;
  max-width: 90%;
  overflow: scroll;
}

.profile-info {
  padding-right: 15px;
  padding-left: 15px;
}

.profile-info select.year {
  width: 25%;
  display: inline-block;
}
.profile-info select.day {
  width: 25%;
  display: inline-block;
}
.profile-info select.month {
  width: 50%;
  display: inline-block;
}
.profile-info input.form-age-range {
  width: 30%;
  display: inline-block;
}
