.profile>.row {
  margin-right: 0px;
}
.profile-images {
  text-align: center;
}
.profile-images .hero-image {
  height: 400px;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}
.profile-images .hero-image img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.profile-images .more-images {
  max-width: 100%;
  height: 100px;
  overflow: scroll;
  white-space: nowrap;
  margin: 15px 0px 15px 10px;
}
.profile-images .more-images img {
  max-height: 90%;
  display: inline-block;
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}
@media (max-width: 480px){
  .profile-images .hero-image {
    height: 300px;
  }

}

.profile-info {
  padding-right: 15px;
}
.profile-info ul li {
  list-style: none;
}
.profile-info ul li:before {
  font-family: 'FontAwesome';
  content: '\f00c';
  margin-right: 8px;
  color: rgba(188, 0, 50, 0.7);
  font-size: 28px
}
.profile-info ul.no-match li:before {
  font-family: 'FontAwesome';
  content: '\f00d';
  margin-right: 8px;
  color: rgba(188, 0, 50, 0.7);
  font-size: 24px
}
.profile-info .user-intro {
  padding-right: 15px;
  padding-left: 15px;
}

.score {
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.action {
  font-size: 2em;
  width: 100%;
  text-align: center;
}
.action a.message:hover {
  color: #80b1cc;
}
.action a.favorite,
.action a.not-favorite {
  color: #bc0032;
}
.action a.favorite:hover,
.action a.not-favorite:hover {
  color: #f98eab;
}
.action a.block,
.action a.not-block {
  color: #bc0032;
}
.action a.block:hover,
.action a.not-block:hover {
  color: #f98eab;
}

.branch-detail {
  padding-left: 30px;
  padding-right: 15px;
}
.branch-detail img {
  width: 100%;
}